# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# SQLite databases (created by examples/tests)
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Packaging
MANIFEST
