# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Env
.env
*.env.local

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/
redisdata/
grafanadata/

# Logs
*.log
logs/
